/* noto-sans-kr-100 - latin_korean */
body {
  font-family: 'Noto Sans KR' !important;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  /* 링크로 연결 */
  /* src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');  */
  /* 내부파일로 연결 */
  src: url('noto-sans-kr/noto-sans-kr-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('noto-sans-kr/noto-sans-kr-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr/noto-sans-kr-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr/noto-sans-kr-100.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr/noto-sans-kr-100.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('noto-sans-kr/noto-sans-kr-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('noto-sans-kr/noto-sans-kr-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr/noto-sans-kr-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr/noto-sans-kr-regular.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr/noto-sans-kr-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-300 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('noto-sans-kr/noto-sans-kr-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('noto-sans-kr/noto-sans-kr-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr/noto-sans-kr-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr/noto-sans-kr-300.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr/noto-sans-kr-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('noto-sans-kr/noto-sans-kr-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('noto-sans-kr/noto-sans-kr-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr/noto-sans-kr-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr/noto-sans-kr-500.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr/noto-sans-kr-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('noto-sans-kr/noto-sans-kr-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('noto-sans-kr/noto-sans-kr-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr/noto-sans-kr-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr/noto-sans-kr-700.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr/noto-sans-kr-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-900 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('noto-sans-kr/noto-sans-kr-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('noto-sans-kr/noto-sans-kr-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-sans-kr/noto-sans-kr-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-sans-kr/noto-sans-kr-900.woff') format('woff'), /* Modern Browsers */
       url('noto-sans-kr/noto-sans-kr-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
