//데이터피커 스타일
.form_calendar,
.form_search {
  @include flex-align(flex-start, center);
  @include size(auto,26px);
  @include transition(all,0.3s);

  border:1px solid #ccc;
  background: #fff;
  overflow: hidden;

  &:hover {
    border:1px solid #{$primary};
  }
  > input {border:0;}
  > .icon_calendar {
    @include flex-align(center, center);
    @include size(auto,30px);

    padding:0 5px;
    // border:1px solid #ccc;
    // border-left:0;
    border:0;
    background: #fff;
  }
  .reportrange-text {
    @include flex-align(center, flex-start);
  
    flex-flow:column wrap;
    height: 30px;
    font-size: 13px !important;
    padding: 2px 10px !important;
    // border-right:0 !important;
    border:0 !important;
  
    > span { line-height: 1}
  }
}

//추가 데이트피커
.date_title {
  @include flex-align(center,flex-end);
  @include size(100%, 44px);
  @include borderRadius(30px);

  max-width: 700px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border:2px solid #9fc09c;
  background: #e5eee4;
  overflow: hidden;
  

  > input {
    font-size: 20px;
    text-align: center;
    color:#335131;
    border:0;
    background: transparent;
  }
}

.mx-datepicker{
  .mx-datepicker-main {
    font-size: 16px !important;
    font-family: "Arial";
    color: #333 !important; 
    background-color: #fff;
    border: 0 !important;
  
    .mx-calendar {
      width:300px
    }
    .mx-calendar-header {
      height: auto;
      padding-bottom: 5px;
      margin-bottom: 10px;
      border-bottom:1px solid #999;
  
      .mx-btn{
        @include transition(all,0.3s);
  
        color:#bcbcbc;
  
        &:hover {color:#464646;}
      }
      .mx-icon-left:before, 
      .mx-icon-right:before, 
      .mx-icon-double-left:before, 
      .mx-icon-double-right:before, 
      .mx-icon-double-left:after, 
      .mx-icon-double-right:after {
        @include size(15px,15px);
  
        border-width: 4px 0 0 4px
      }
      .mx-btn-current-month,
      .mx-btn-current-year,
      .mx-calendar-header-label > button{
        font-size: 30px !important;
        color:#000 !important
      }
    }
    
    .mx-table-date{
      th{
        font-size: 14px;
        
        &:first-child {
            color: #ff2a2a;
        }
      }
      .in-range,
      .cell,
      .today,
      .active{
        vertical-align: middle;
        align-content: center;
        background: #fff !important;
        
        > div {
          @include flex-align(center,center);
          @include size(30px, 30px);
          @include borderRadius(20px);
  
          font-size: 14px;
          margin:0 auto;
        }
      }
      .cell{
        &:first-child {
          > div {
            color: #ff2a2a;
          }
        }
        &.not-current-month {
          > div {
            color: #999;
          }
        }
        &:hover{
          > div {
            border:1px solid #e6e6e6
          }
        }
      }
      .in-range{
        > div {
          @include size(100%, 30px);
          @include borderRadius(0);
  
          color: #333;
          background: #e5eee4;
          
        }
      }
      .today{
        > div {
          color: #fff;
          background: #ff2a2a;
          border:1px solid #ff2a2a !important
        }
      }
      .holiday{
        > div {
          color: #ff2a2a;
          background: #e6e6e6;
          border:1px solid #e6e6e6 !important
        }
      }
      .active{
  
        > div {
          position: relative;
          z-index: 9;
          background: #42883c;
          border:1px solid #42883c !important;
        }
      }
      td.cell.active{
        > div {
          &::before{
            @include position(absolute,-1px,-6px,auto,auto,-2);
            @include size(50%,30px);

            display: none;
            content: "";
            background: #e5eee4;
          }
          &::after{
            @include position(absolute,-1px,-1px,auto,auto,-1);
            @include size(100%,30px);
            @include borderRadius(100%);
    
            content: "";
            background: #42883c;
          }
        }
      }
      
    } 
    .mx-table-month,
    .mx-calendar-panel-year {
      .cell,
      .active{
        vertical-align: middle;
        align-content: center;
        background: #fff !important;
        
        > div {
          @include flex-align(center,center);
          @include size(50px, 50px);
          @include borderRadius(30px);
  
          font-size: 14px;
          margin:0 auto;
        }
      }
      .cell{
        &:hover{
          > div {
            border:1px solid #e6e6e6
          }
        }
      }
      .active{
        > div {
          position: relative;
          z-index: 9;
          background: #42883c;
          border:1px solid #42883c !important;
        }
      }
    }
    .mx-calendar-panel-year  {
      .mx-calendar-header-label {font-size: 24px}
      .mx-calendar-content {height: auto}
      .cell,
      .active{
        > div {
          @include flex-align(center,center);
          @include size(100px, 50px);
          @include borderRadius(20px);
  
          font-size: 14px;
          margin:0 auto;
        }
      }
    }
  }
}

.mx-datepicker.mx-datepicker-range {
  .mx-datepicker-main {
    .mx-table-date{
      td.cell.active{
        > div {
          &::before{
            @include position(absolute,-1px,-6px,auto,auto,-2);
            @include size(50%,30px);

            display: block;
            content: "";
            background: #e5eee4;
          }
          &::after{
            @include position(absolute,-1px,-1px,auto,auto,-1);
            @include size(100%,30px);
            @include borderRadius(100%);
    
            content: "";
            background: #42883c;
          }
        }
      }
      td.in-range + td.cell.active{
        > div {
          &::before{
            @include position(absolute,-1px,21px,auto,auto,-2);
            @include size(50%,30px);
            content: "";
            background: #e5eee4;
          }
          &::after{
            @include position(absolute,-1px,1px,auto,auto,-1);
            @include size(100%,30px);
            @include borderRadius(100%);
    
            content: "";
            background: #42883c;
          }
        }
      }
      
    } 
  }
  
  
  //기간선택
  .mx-range-wrapper {
    .mx-calendar {
  
      &:first-child{
        margin-right: 20px;
      }
      &:last-child{
        width:330px;
        padding-left: 20px;
        border:0;
      }
      
    }
  }
}
