.login_wrap {
  @include size(100%, 100%);

  background: #eff1f5
}

.join_wrap {
  @include size(100%, auto);

  background: #eff1f5
}

.login_container,
.join_container,
.member_info_container {
    @include position(absolute, 50%, auto, auto, 50%, 999);
    @include size(530px, 800px);
    @include flex-align(flex-start, flex-start);

    flex-flow: column wrap;
    padding: 94px 75px 30px;
    border: 1px solid #d9d9d9;
    background: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    h1 {
      font-weight: 900;
      font-size: 19px;
      letter-spacing: -1px;
      ;
      margin: 30px 0 0;
    }

    small {
      display: block;
      font-size: 14px;
      color: #999;
      line-height:1.4;
      margin:5px 0 75px;
    }

    .login_form,
    .join_form,
    .idpw_form {
      @include size(100%, auto);

      .form_box {
        input {font-size: 16px;}
      }
    }

    .idpw_form {
      margin-top: -40px;
    }

    .login_alert,
    .input_alert {
      font-size: 14px;
      ;
      color:#{$alert};
      padding: 0 14px;
      margin: -5px 0 20px;
    }

    .btn_login,
    .btn_join,
    .btn_cancle {
      @include size(100%, 56px);
      @include borderRadius(5px);

      color: #fff;
      font-size: 16px;
      font-weight: 700;
      background: #{$primary};
      border: 0;
    }
    .btn_cancle{
      width:30%;
      flex-shrink: 0;
      background: #999;
    }
    .check_idpw,
    .check_agree {
      @include size(100%, auto);
      @include flex-align(space-between, center);

      flex-flow: row wrap;
      margin-top: 20px;

      span {
        color: #666;
        font-size: 14px;
      }

      .login-form-forgot {
        color: #666;
        font-size: 14px;
        line-height: 1.5;
        border-bottom: 1px solid #666;
      }
    }

    .login_footer {
      @include size(100%, auto);

      text-align: center;
      font-size: 14px;
      color: #666;
      margin-top: auto;
    }
  }

.join_container, .member_info_container {
  @include position(relative, 0, auto, auto, 0, 999);
  @include size(1000px, auto);
  @include flex-align(flex-start, flex-start);

  position: relative;
  flex-flow: column wrap;
  padding: 45px 60px 30px;
  margin: 40px auto 60px;
  border: 1px solid #d9d9d9;
  background: #fff;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);

  h1 {
    font-weight: 900;
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 1;
    padding: 0;
    margin: 45px 0 20px;
  }

  small {
    display: block;
    font-size: 14px;
    color: #999;
    margin-bottom: 75px;
  }

  h2 {
    font-size: 16px;
    color: #000;
    font-weight: 700;
    padding-bottom: 15px;
    margin: 0;
    border-bottom: 1px solid #00592d;
  }

  .join_agree {
    @include size(100%, auto);

    margin-bottom: 65px;

    ul {
      @include size(100%, auto);
      @include flex-align(flex-start, flex-start);

      flex-flow: column wrap;

      .check_agree {
        padding-bottom: 20px;
        border-bottom: 1px solid #d5d6d7;

      }
    }
  }

  .join_form {
    @include size(100%, auto);

    display: block;
    position: relative;
    margin-bottom: 30px;

    .join_form_table {
      @include size(100%, auto);

      display: block;
      position: relative;
      margin: 0;
    }

    table {
      width: 100%;

      th,td {vertical-align: middle;}
    }

    tr {
      border-bottom: 1px solid #dee2e1;
    }

    .list_title {
      @include size(100%, 100%);
      @include flex-align(flex-start, center);

      flex-shrink: 0;
      color: #666;
      font-size: 14px;
      font-weight: 400;
      padding: 8px 20px;
      margin: 0;
    }

    th {
      background: #f9f9f9;
    }

    td {}
  }

  .join_regsit {
    @include size(100%, auto);

    .join_regsit_content {
      @include size(380px, auto);

      margin: 60px auto 140px;

      .join_id {
        @include flex-align(flex-start, center);
        @include size(100%, auto);

        flex-flow: row nowrap;
        margin-bottom: 20px;

        .title_id {
          font-size: 16px;
          font-weight: 700;
          color: #666;
          margin-right: 40px;
        }

        .id_txt {
          font-size: 15px;
          font-weight: 400;
          color: #666;
        }
      }

      .btn_join {
        font-weight: 400;
        margin-top: 45px
      }
    }
  }
}
.member_info_container {
  border:0;

  h2 {
    @include size(100%,auto);

    text-align: center;
    font-size: 24px;
    color: #666;
    font-weight: 500;
    line-height: 130%;
    padding-bottom: 0;
    margin: 0;
    border: 0;
  }
  .join_regsit .join_regsit_content .btn_box {
    @include flex-align(flex-start, flex-start);

    flex-flow: row nowrap;
    gap:5px;
    margin-top:30px;

    > .btn_join{margin:0;}
  }
}
//아이디 패스워드 찾기
.idpw_form {
  .ant-tabs-bar {
    margin: 0 0 37px 0;
    border-bottom: 2px solid #015b2f;
  }

  .ant-tabs-nav-container {
    margin-bottom: -2px;
  }

  .ant-tabs-tab {
    font-size: 14px;
    color: #000 !important;
    border: 2px solid #ddd !important;
    border-bottom: 2px solid #015b2f !important;
    background: #fff !important;
  }

  .ant-tabs-tab-active {
    border: 2px solid #015b2f !important;
    border-bottom: 0 !important;
  }
}

.id_search_result_box {
  @include flex-align(center, center);
  @include size(100%, auto);

  flex-flow: column wrap;
  padding: 20px;

  .user_id {
    @include flex-align(center, center);
    @include size(100%, auto);

    flex-flow: row wrap;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;

    >span {
      font-size: 14px;
      color: #2990f9;
      border-bottom: 1px solid #2990f9;
    }
  }

  >a {
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #000;
  }
}