@media (min-width: 1920px) {
    .header_bottom .bottom_section .navi .btn_main {
        font-size:16px;
    }
    .rg-table td,
    .rg-table th,
    .real_form_input > input,
    .caleandar_render_span{font-size: 11px;}
}    

@media (max-width: 1921px) {
    .header_bottom .bottom_section .navi .btn_main {
        font-size:0.9vw;
    }
    .rg-table td,
    .rg-table th,
    .real_form_input > input,
    .caleandar_render_span{font-size: 0.6vw; text-align: center;}
    
}

@media (max-width: 1440px) {
    #app{
        #container {
            padding:7px 0 0 0;
        }
    }
}