.wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
  
    width: 100%;
    max-width:$maxWidth;
    height: auto;
    margin: 50px auto;
  
    h1 {
      width: 100%;
      text-align: center;
    }
  }
.modal_list_container {
  @include flex-align(flex-start, center);

  width: 100%;
  max-width:1024px;
  min-width: 250px;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ddd;

  > h2 {
    width:200px;
    font-size: 14px;
    font-weight: 500;
    color:#333;
  }
  .modal_list_content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 10px;

    .modal_list_section {
      margin:0;
    }
  }
}
.vm--modal {
  //@include borderRadius(10px !important);

  transition: all 1s;
}
.modal {
  @include size(100%, 100%);

  position: relative;
  display: block;

  .modal_title,
  .modal_title_t02,
  .modal_title_t03,
  .modal_title_t04 {
    @include flex-align(center,center);
    @include size(100%,auto);

    font-size: 18px;
    color: #000;
    font-weight:700;
    padding:30px 20px 0;
    margin:0;
  }
  .modal_title_t02 {
    justify-content: flex-start;
    font-size: 18px;
    color: #fff;
    margin:0;
    padding:10px 20px;
    background: #42883c;
  }
  .modal_title_t03 {
    font-size: 20px;
  }
  .modal_title_t04 {
    justify-content: flex-start;
    font-size: 20px;
  }
  .btn_modal_close,.btn_modal_close_t02 {
    @include position(absolute,10px,20px,auto,auto,99);

    > button{
      @include size(20px, 20px);

      position: relative;
      border:0;
      background: transparent;

      &::before,
      &::after{
        @include position(absolute, -1px,auto,auto,8px,9);
        @include size(1px,20px);
  
        display: block;
        content: "";
        background-color: #000;
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        
      }
      &::after{
        transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
      }
    }
    
  }
  .btn_modal_close_t02 {
    > button{

      &::before,
        &::after{
          background-color: #fff;
      }
    }    
  }
  .sub_txt{
    display: block;
    width:100%;
    font-size: 13px;
    color: #f39703;
    font-weight: 700;
    margin-top: 10px;
  }
  > .modal_content{
    @include size(100%,calc(100% - 38px));
    @include flex-align(center,center);

    padding:20px;

    .txt_onboard {
      @include size(100%,auto);

      text-align: center;
      color: #3f3f3f;
      font-family: 'arial';
      font-size: 16px;
      font-weight: 500;
      line-height: 1.2;
      text-align: left;
      word-break: keep-all;
      white-space: pre-line;
      //margin-bottom: 20px;
      > p {
        margin-bottom:10px;

        &:last-child {margin:0;}
      }
    }
    .modal_form {
      @include flex-align(flex-start,flex-start);
      @include size(100%, auto);

      flex-flow: column wrap;
      padding:0 20px;

      > small {
        @include size(100%, auto);

        text-align: center;
        letter-spacing: -1px;
        line-height: 1.4;
        font-size: 14px;
        color:#999;
        margin:45px 0 10px;
      }
      .form_box {
        input {font-size: 16px}
      }
      .modal_form_title {
        @include size(100%, auto);

        text-align: center;
        letter-spacing: -1px;
        line-height: 1.4;
        font-size: 28px;
        color: #3f3f3f;
        font-weight: 700;
        margin-bottom: 40px;

      }
      .input_alert {
        font-size: 14px;;
        color:#{$alert};
        padding:0 14px;
        margin: -5px 0 20px;
    }
    }
    
    
    .search_box {
      @include flex-align(flex-start,flex-start);
      @include size(100%, auto);

      flex-flow: row nowrap;
      //margin-bottom: 10px;
      margin-bottom: 5px;
      padding:10px 130px 30px;;
      border-bottom:2px solid #000;

      .search_title {
        position: relative;
        max-width: 150px;
        flex-shrink: 0;
        font-size: 16px;
        word-break: break-all;
        color: #000;
        margin-right:15px;
        padding-left: 12px;

        // &::before{
        //   @include position(absolute,50%,auto,auto,0,9);
        //   @include size(2px,2px);

        //   content: "";
        //   background: #000;
        //   transform: translateY(-50%);
        //   -webkit-transform: translateY(-50%);
        // }

      }

      .filter_list {
        gap:0;

        .filter_type {
          margin-right:20px;

          &:last-child{margin-right: 0;}
        }
      }
      > input {
        @include size(100%, 40px);
        @include borderRadius(0);

        padding:0 10px;
        border-color: #bfbfbf;
      }
      button {
        @include size(40px, 40px);
        @include flex-align(center,center);
        @include borderRadius(0);

        flex-shrink: 0;
        margin-left:5px;
        background: #000;
        border:0;
      }
      .icon_calendar { background:#fff;}
    }
    .bookmark {
      padding:10px 300px 0;
      margin:0;
      border:0;

      .search_title {padding-top: 13px;}
    }
    .bookmark + .realgrid_container{ margin-top: 0}
    .filter_search {
      width:470px;
      padding:0;
      border:0;
    }


    //검색결과없음, 등록된 메뉴가없음
    .not_search_result {
      @include size(100%, auto);

      text-align: center;
      font-size: 18px;
      font-weight: 700;
      color: #333;
      padding: 50px 0;
    }
  }
  .modal_btn_contents,
  .modal_btn_contents_t02,
  .modal_btn_contents_t03,
  .modal_btn_contents_t04,
  .modal_btn_contents_t05{
    @include flex-align(center,center);
    @include size(100%, auto);

    flex-flow: row nowrap;
    flex-shrink: 1;
    
    margin-top: 0;

    > button {
      @include size(100%, 48px);
      @include borderRadius(0);

      font-size: 16px;
      font-weight: 700;
      
    }
    .btn_primary {
      border:0;
    }
  }
  .modal_btn_contents_t02 {
    padding:0 40px 20px;
    margin-top: 6px;
    gap: 5px;

    > button {
      @include borderRadius(4px);

      height: 56px;
      font-weight: 500;
      font-size: 16px;
    }
  }
   
  .modal_btn_contents_t03 {
    justify-content: flex-start;
    padding-top:35px;
    
    .btn_box  {
      gap:5px;

      button {
        @include size(140px,40px);
        @include borderRadius(3px);

        font-size: 13px
      }
      .btn_ref {border:1px solid #969696;}
      .btn_search {
        color:#fff;
        background: #000;
        border:1px solid #000;
      }
      
    }
  }
  .modal_btn_contents_t04 {
    justify-content: center;
    gap: 5px;
    padding:15px 0 40px;
    margin-bottom: 40px;
    border-bottom:1px solid #d9d9d9;

      button {
        @include size(140px,40px);
        @include borderRadius(3px);

        font-size: 13px;
        border:1px solid #969696;
    }
  }
  .modal_btn_contents_t05 {
    justify-content: center;
    gap: 5px;
    padding:15px 0 0 ;
    margin-bottom: 0px;

      button {
        @include size(140px,40px);
        @include borderRadius(3px);

        font-size: 13px;
        border:1px solid #969696;

    }
    
  }
  .modal_content{
    .form_search {
      @include flex-align(flex-start,center);
      @include size(100%, auto);

      flex-flow: row nowrap;
      margin-bottom: 5px;

      button {margin-left:10px}
    }
  }
  .modal_content .modal_realgrid {
    @include size(100%, auto);

    .head_realgrid {}
    .realgrid_box {
      width: 100%;
      border:1px solid #000
    }
  }
}
.modal_new {
  .modal_title {
    padding:40px 60px 0;
  }
  .modal_content {
    padding:24px 60px 60px;

    .modal_form  {
      padding:0;
      
      .modal_form_title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      > small {
        font-size: 16px;
        color:#535454;
        margin:36px 0 10px;
      }
      .input_alert {
        letter-spacing: -1px;
        padding:0;
        margin:0;
      }
      .form_box {margin-bottom: 8px;}
    }
  }
 
}

//상품검색 
//top 위치 변경
// .ProductSearchModal {
//   > div + div {top:0 !important;}
// }
//top 위치 변경

.zoom-leave.zoom-leave-active {transition: all 1s;}
.modal-btn {
  @include position(absolute, 50%, 50%, auto, auto, 9);
  //@include size(200px, 80px);

  font-size: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
.ProductSearch_content  {
  overflow-y: auto;
}
.filter_content {
  //@include flex-align(center, flex-start);
  @include size(100%, auto);
  @include transition(all,0.3s);

  position: relative;
  min-height: 50px;
  display: flex;
  //flex-flow: column wrap;
  flex-direction: column;
  //padding:20px 0 50px;
  padding:7px 0 50px;
  border-bottom: 1px solid #d9d9d9;
  overflow:hidden;

  &.filter_close {
    @include transition(all,0.3s);

    height: 50px !important;
    padding:0 ;
    
    .filter_box,
    .modal_btn_contents_t03{
      visibility: hidden;
      opacity: 0;
      height:0;
      margin:0;
    }
  }
  .btn_close_filter + .modal_btn_contents_t03 {
    padding-top: 10px;
  }
  &-off {
    flex-flow: row nowrap;
  }

  h4 {
    margin-top: 10px;
  }
  .filter_box {
    @include flex-align(flex-start, center);
    @include size(100%, auto);

    flex-flow:row wrap;
    //margin: 0 0 10px 0;
    margin: 0 0 5px 0;

    .filter_inbox {
      @include flex-align(flex-start, center);
      @include size(100%, auto);

      flex-flow:row wrap;
    }

    .filter_title {
      @include size(200px, auto);

      position: relative;
      margin:0;
      padding:0 0 0 15px;
      flex-shrink: 0;

      &::before{
        @include position(absolute,50%,auto,auto,0,9);
        @include size(2px,2px);

        content: "";
        background: #000;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
      }
    }
    .choice_filters {
      @include flex-align(flex-start, center);
      @include size(calc(100% - 200px), auto);

      flex-flow:row wrap;
    }
    .choice_filter {
      @include flex-align(flex-start, center);
      @include size(auto, auto);
  
      flex-flow:row nowrap;
      position: relative;
      z-index: 40;
      //margin:0 3px 10px;
      margin:0 3px 5px;
    }
    .choice_write {
      @include flex-align(flex-start, center);
      @include size(100%, auto);

      position: relative;
      flex-flow:row wrap;
      //margin:0 0 10px 3px;
      margin:0 0 0 3px;

      > button,
      > small {
        @include flex-align(center, center);
        @include size(auto, 30px);

        font-size: 13px;
        color:#666;
        padding:0 10px;
        margin-right: 5px;
        border:0;
        background: #eaeaea
      }
      > small {
        color:#000;
        justify-content: flex-start;
        padding:0 10px 0 0;
        background-color: #fff;

        &:last-of-type{margin-left:40px}
      }
      .write {
        @include size(100px, 30px);
        

        margin-left: 0px;
        border-color: #aaa;

        &:hover{border-color: #{$primary};}
        &:last-of-type {margin-left:10px;}

      }
      >.multiselect .multiselect__tags {
        
      }
      .multiselect + .chechbox_basic {
        margin-left: 10px;
      }
      .warning {
        @include size(100%, auto);
        @include flex-align(flex-start, center);

        font-size: 12px;
        color:#{$danger};
        padding:10px 0 0 80px
      }
    }
  }
  .product-filter {
    label {
      @include borderRadius(5px);

      margin-right: 5px;
      border-left: 1px solid #d9d9d9;

      &:first-child,
      &:last-child {
        @include borderRadius(5px);
      }

      &::before {
        display: none !important;
      }
    }
  }
  .btn-box {
    display: flex;
    justify-content: center;
  }

  .btn_close_filter {
    @include position(absolute,auto,0,10px,auto,9);
    @include size(30px, 30px);
    @include flex-align(center,center);
    
    font-size: 16px;
    color:#666;
    border:0;
    background: #fff;

    &.close {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
  }
}
.table_content {
  display: none;
  margin-top:30px;
}
.on {
  display: flex !important;
  justify-content: flex-start;
  align-items:center ;
  flex-flow: row wrap;
}
 .off {
  display: none !important;
  transition: display 1s; 
}
.auto {
  width:auto !important
}


//배송지 선택, 공지사항 등록
#ShippingAddress,
#NoticeRegist{
  
  > .modal_content {
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow:column wrap;
    height:calc(100% - 139px);

    .search_address_box {
      @include flex-align(flex-start,center);
      @include size(100%, auto);

      flex-flow: row nowrap;
      margin-bottom: 10px;
      padding:10px 130px 30px;;
      border-bottom:2px solid #000;

      > input {
        @include size(100%, 40px);
        @include borderRadius(0);

        padding:0 10px;
        border-color: #bfbfbf;
      }
      button {
        @include size(40px, 40px);
        @include flex-align(center,center);
        @include borderRadius(0);

        margin-left:10px;
        background: #000;
      }
    }
    .result_box {
      @include size(100%, auto);

      display: block;
      max-height: 520px;
      min-height: 150px;
      overflow-y: auto;

      .address_info {
        @include size(100%, auto);
  
        position: relative;
        display: block;
        line-height: 1.3;
        margin: 0;
        padding: 15px 0 15px 40px;
        border-bottom:1px solid #cdcdcd;

        &.choice_address {background: #f6fdf0;}
        
        .company_title {
          font-size: 18px;
          font-weight: 700;
          color:#333;
          margin:0;
        }
      }
      .address_info > ul {
        @include flex-align(flex-start,flex-start);
        @include size(100%, auto);
  
        flex-flow: column wrap;
        margin:0;
        padding:0;
        list-style: none;
      }
      .address_check {
        @include position(absolute,15px,auto,auto,0,99);
      }
      .address_list {
        @include flex-align(flex-start,center);
        @include size(100%, auto);
  
        flex-flow: row nowrap;
        padding:2px 0;

         
  
        .align_row:first-child{margin-right: 30px;}
        .address_list_title{
          @include size(120px ,auto);

          flex-shrink: 0;
          position: relative;
          font-size: 14px;
          font-weight: 700;
          color:#333;
          word-break: break-word;
          padding-left: 15px;
          padding-right:5px;
          margin:0;

          &::before{
            @include position(absolute,50%,auto,auto,0,9);
            @include size(2px,2px);

            content: "";
            background: #000;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
          }
          
        }
        .address_list_info {
          min-width:100px;
          font-size: 14px;
          color:#999
        }
  
      }
    }
  }
  > .modal_btn_contents_t02 {
    button {
      @include size(140px,40px);
    }
  }
}

#NoticeRegist{
  .modal_content { height:calc(100% - 108px) }
  .modal_content .result_box {
    .address_info {
      padding:15px 0;
      border:0;

      > ul {margin-top:10px}

      .chechbox_basic {
        color:#333;
        font-weight: 700;
      }
    }
    .address_list{
      gap:5px;

      .form_input {padding:0}
    }
    .multi_line {
      @include flex-align(flex-start, center);

      flex-flow:row nowrap;
      gap:5px;


      &:last-child{margin-left:auto;}
    }
  }
  .modal_btn_contents_t05 {padding:0;}
  .board_write {
    @include size(100%, 395px);

    border:2px solid #000;
    border-bottom:1px solid #cdcdcd;
    border-left:0;
    border-right:0;
  }
}


//엑셀업로드
.modal .excel_content {
  align-items: flex-start;
  flex-flow:column wrap;
  padding-top: 35px;

  >.title{
    font-size: 18px;
    color: #000;
    font-weight: 700;
    line-height: 1;

  }
 
  .excel_t{
    @include size(100%, auto);

    display: block;
    max-height: 250px;
    margin-top:10px;
    border-top:1px solid #585858;
    overflow-y: auto;

    table{
      @include size(100%, auto);

      font-size: 13px;
      
    }
    
    
    th,td {
      color: #666;
      padding:10px 5px;
      border:1px solid #bfbfbf;
      border-top:0;
    }
    th{
      padding:10px 5px;
      background: #f6f6f6;
    }
   .file_regist_box {
      width:auto;
      margin-right:5px;
   } 
   
  }
}


//샘플기준 사이즈
.sample_realgrid {
  width:100%;
  margin-top:20px !important;
}

//즐겨찾기
.favori_menu{
  @include flex-align(flex-start, flex-start);
  @include size(100%, auto);

  flex-flow: row wrap;

  > li {
    @include flex-align(flex-start, center);
    @include size(25%, auto);

    padding:10px 0;

    > a {
      font-size: 14px;
      color: #999;
      line-height: 1.2;
      margin:2px 0 0 10px;
    }
  }
  .btn_fav {
    @include size(16px, 16px);

    display: block;
    border:0;
    background: transparent url('@/assets/img/icon_fav.png') no-repeat;

    &.fav_on {
      background: transparent url('@/assets/img/icon_fav_on.png') no-repeat;
    }
  }
}

//배송요청 
.modal > .dr_content {
  @include flex-align(flex-start,flex-start);

  flex-direction: column;
  //padding:0;
  overflow-y: auto;

  > .search_content {
    position: relative;
    padding:8px;

    .btn_select_destination + .search_box {margin-top:10px}
    .search_box {
      flex-direction: column;
      padding:7px;
      margin:0;
      border:0;
    }
    .btn_select_destination {
      @include position(absolute,5px,10px,auto,auto,9);
      @include borderRadius(3px);

      color:#fff;
      font-size: 12px;
      padding: 5px 15px;
      border:0;
      background: #a2a2a2;
    }
  }
  >.realgrid_container {
    //padding:20px
  }
  
}

//고객사 검색
.modal > .customer_content {
  @include flex-align(flex-start,flex-start);

  flex-direction: column;
  padding:20px;
  overflow-y: auto;

  > .search_content {
    position: relative;
    padding:8px;

    .search_box {
      flex-direction: column;
      padding:7px;
      margin:0;
      border:0;
    }
  }
  .customer_table {
    @include size(100%, 577px);

    margin-top:10px;
    overflow-y: auto;

    
    table {
      th {
        font-weight: 700;
      }
      th,td  {
        height: 40px;
      }
    }
  }
}
//약관,개인정보취급방침
.specialty_box {
  @include size(100%, 100%);

  display: block;
  font-size: 14px;
  color:#666;
  overflow-y: auto;
  white-space: pre-line;
  word-break: keep-all;
}

//속성코드 등록
.content_head {
  @include flex-align(flex-start, center);
  @include size(100%, 25px);

  //margin-bottom: 10px;
  margin-bottom: 7px;

  .btn_add,.btn_save {
      @include borderRadius(0);
      @include flex-align(center, center);

      font-size:12px;
      color:#666;
      padding: 3px 10px;
      margin-left:auto;
      border:1px solid #ccc;
      background-color: #fff;
  }
  .btn_save {
      color: #fff;
      background-color: #313a2f;
      border-color: #313a2f;
  }
  >.btn_box {
      @include flex-align(flex-start, center);

      gap: 5px;
      margin-left:auto;
  }
}
.program_box {
  @include size(100%, auto);

  .table{
      max-height: 600px;
      overflow: auto;

      > table{
        table-layout: fixed;
       }
  }
  .table_scroll {
      width:100%;
      max-height: 480px;
      overflow: auto;
      //border:1px solid #000;

      
  }
}
//재고할당관리
//플랜트 지정
.plant_radio_box,
.lang_checkbox {
  @include flex-align(flex-start, center);
  @include size(100%, auto);
  @include borderRadius(3px);

  flex-flow: row wrap;
  padding:10px;
  margin:10px 0 ;
  background: #eee;

  .radio_t{margin:5px 0}
  > span {margin-right:10px}
}
.lang_checkbox {
  justify-content: center;
  gap:20px;
}
//생산일 지정
.form_production_date {
  @include flex-align(center,flex-start ); 

  width:100%;
  margin:5px 0 ;

  > span {
    @include flex-align(flex-start, center);
    
    height: 26px;
    flex-shrink: 0;
    font-size: 13px;
    margin-right: 10px;
  }
}
//영업의견메모
.memo_box {
  @include flex-align(flex-start, flex-start); 
  @include size(100%, auto);

  flex-flow:column wrap;
  margin-bottom: 20px;
  > small {
    color:#999;
    font-size: 13px;
    margin-bottom: 5px;
  }
  > span {
    color:#333;
    font-size: 16px;
  }
}
//기안문서번호입력
.draftd {
  @include size(100%, auto);

  margin-bottom: 20px;

  > p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

//코스트센터 조회
.costcenter_table {
  height: 146px;
  overflow-y: auto;
}

.table_title {
  @include flex-align(space-between, center);
  @include size(100%, auto);
  
  font-size: 16px;
  color: #000;
  font-weight: 700;
  padding-bottom: 10px;
  margin-top: 0px;
  border-bottom: 0;

  &:nth-child(n+2){
    margin-top:20px;
    border:0;
  }
  >.a-l {gap:5px}
}

//프린트
.print_content {
  @include size(100%, auto);

  display: block;
  padding:0 20px 20px;
}
.print_head {
  @include flex-align(space-between,center);
  @include size(100%, 70px);

  .print_title {
    @include flex-align(flex-start,center);

    font-size: 16px;
    font-weight: 700;
    color:#000;
    line-height: 1.3;

    img {margin-right: 10px}
  }
  .print_btns {
    @include flex-align(flex-start,center);
    @include size(auto, auto);

    flex-direction: row;
    gap:5px;

    > button {
      background: transparent;
      border:0;
    }

  }
}
.print_box {
  @include size(100%, 524px);

  position: relative;
  display: block;
  border:1px solid #888
}