.setting_section {
    @include size(100%, 100%);
    @include flex-align(flex-start, flex-start);

    flex-flow:row nowrap;
    gap:30px;
    overflow: hidden;

    .menu_manage_box {
        
        .tree_box,.tree_box_02{
            @include size(310px, auto);

            display: block;
            max-height: 600px;
            min-height: 370px;
            border:1px solid #d1d1d1;
            border-top-color: #555;
            overflow: auto;
        }
        .tree_box_02{ width:250px}
    }
    .tree_box {
        //padding:20px;
        padding:7px 20px;

        .tree-root,.tree-children{
            position: relative;

            &::before{
                @include position(absolute,-5px,auto,auto,6px,-1);
                @include size(1px, 100%);

                content: "";
                border-left:1px dotted #848485;
            }
            // &::after{
            //     @include position(absolute,17px,auto,auto,26px,-1);
            //     @include size(20px, 1px);

            //     content: "";
            //     border-top:1px dotted #848485;

            // }
        }
        .tree-root {
            overflow: hidden;

            &::before{top:11px;}
        }
        .tree-children .tree-children{ 
            &::before,&::after{
                left:26px;
            }
        }
        .tree-children .tree-children .tree-children{ 
            &::before,&::after{
                left:46px;
            }
        }

        .tree-node{
            @include size(100%, auto);

            margin:1px 0;
            padding:0;
            border:0;

            .tree-node-inbox{
                @include flex-align(flex-start, center);
                @include size(100%, auto);
                @include transition(all,0.2s);

                position: relative;
                flex-flow:row nowrap;
                padding:3px 5px 3px 0;

                
                &::after{
                    @include position(absolute,17px,auto,auto,12px,-1);
                    @include size(5px, 1px);

                    content: "";
                    border-top:1px dotted #848485;

                }

                .btn_tree_head {
                    @include size(9px, 15px);

                    position: relative;
                    display: block;
                    margin-right:5px;
                    border:1px solid #848485;
                    background: #fff;

                    > i {
                        @include position(absolute,50%,auto,auto,50%,9);

                        transform: translate(-50%,-50%);
                    }
                }
                .depth_icon {
                    @include flex-align(center, center);
                    @include size(15px,18px);

                    flex-shrink: 0;
                    padding-right: 3px;
                    background: #fff;
                }
                .tree_name {
                    @include size(100%, 26px);

                    font-size: 12px;
                    color: #666;
                    text-align: left;
                    padding:0 5px;
                    border:1px solid #fff  !important;
                    background: #fff;
                    

                    &:hover,&:focus {
                        border-color:#bcbcbc !important;
                    }
                }
                >button.tree_name {
                    background: transparent;
                    border-color:transparent !important;

                    &:hover,&:focus {
                        color: #000;
                        font-weight: 700;
                        background: transparent;
                        border-color:transparent !important;
                    }
                }

                .btn_tree {
                    @include flex-align(center, center);
                    @include size(24px, 24px);
                    @include transition(all,0.2s);

                    flex-shrink: 0;
                    opacity: 0;
                    visibility: hidden;
                    border:0;
                    background: transparent
                }

                &:hover{
                    @include transition(all,0.2s);

                    background: rgba(0,0,0,0.1);

                    .btn_tree {
                        @include transition(all,0.2s);

                        opacity: 1;
                        visibility: visible
                    }
                    .depth_icon {
                        background: transparent;
                    }
                }
            }
        }
        
        
        .ctx-menu {
            @include borderRadius(0);

            font-size: 13px;
            box-shadow:0 0 5px rgba(0,0,0,0.3);
        }
    }
    .program_box {
        @include size(100%, 100%);

        position: relative;

        .table{
            max-height: 600px;
            overflow: auto;
        }
        .table_scroll {
            width:100%;
            min-width:1160px;
            max-height: 600px;
            overflow: auto;
        }
        .raw_section{
            position: relative;
            margin-bottom: 20px;

            .raw_textarea {
                @include transition(all,0.3s);
                @include size(100%, 50px);
    
                border:1px solid #bfbfbf;
                border-top:1px solid #585858;
    
                > textarea {
                    @include size(100%, 100%);
                    
                    border:0;
                }
            }
            .textarea_open {
                @include transition(all,0.3s);
    
                height: 300px;
    
                > textarea {height: 100%}
            }
        }
        .respone_seciton {
            position: relative;
            height: auto;
            margin-bottom: 20px;

            .table{
                @include transition(all,0.3s);

                height: 35px;
                overflow: hidden;

                &.respone_open {
                    height: 171px !important;
                    overflow: auto !important;
               }
            }
        }
        .memo_seciton {
            .memo_list_box {
                @include size(100%,auto);

                position: relative;
                max-height: 150px;
                padding:20px;
                border:1px solid #bfbfbf;
                border-top:1px solid #585858;
                border-bottom: 0;
                overflow: auto;

                .memo_list {
                    @include flex-align(flex-start,center);

                    flex-flow:row nowrap;
                    border-bottom:1px solid #cecece;
                    padding:15px;

                    span{
                        @include size(auto,auto);

                        display: block;
                        color:#333;
                        font-weight: 700;
                        font-size: 13px;
                        word-break: break-all;
                        margin-right: 20px;
                    }
                    small{
                        flex-shrink: 0;
                        color:#878787;
                        font-size: 11px;
                    }
                }
                
            }
            .btn_delete {
                @include size(15px,15px);
                @include borderRadius(10px);
                @include transition(all,0.3s);
            
                position: relative;
                border:0;
                background: transparent;
                margin-left:20px;

                &::before,
                &::after{
                @include position(absolute, 3px,auto,auto,7px,9);
                @include size(1px,9px);
            
                display: block;
                content: "";
                background-color: #999;
                transform:rotate(45deg);
                -webkit-transform:rotate(45deg);
                
                }
                &::after{
                transform:rotate(-45deg);
                -webkit-transform:rotate(-45deg);
                }
            }
            .meno_write_box {
                @include flex-align(flex-start,flex-start);
                @include size(100%,auto);

                flex-flow:row nowrap;
                gap:5px;
                padding:20px;
                border:1px solid #bfbfbf;
                border-top:0;

                >.form_textarea {
                    height: 56px;
                }

                > button {
                    @include flex-align(center,center);
                    @include size(115px,56px);
                    @include borderRadius(3px);

                    flex-shrink: 0;
                    color:#fff;
                    font-size: 13px;
                    border:0;
                    background: #00592d;
                }
            }
        }
    }
    .content_head {
        @include flex-align(flex-start, center);
        @include size(100%, 25px);

        //margin-bottom: 10px;
        margin-bottom: 7px;
      
        .btn_add,.btn_save {
            @include borderRadius(0);
            @include flex-align(center, center);

            font-size:12px;
            color:#666;
            padding: 3px 10px;
            margin-left:auto;
            border:1px solid #ccc;
            background-color: #fff;
        }
        .btn_save {
            color: #fff;
            background-color: #313a2f;
            border-color: #313a2f;
        }
        >.btn_box {
            @include flex-align(flex-start, center);

            gap: 5px;
            margin-left:auto;
        }

        
    }
    //.content_head_secound {margin-top: 40px;}
    .content_head_secound {margin-top: 7px;}
    .api_test{
        @include flex-align(flex-start, center);
        @include size(100%, auto);
        @include borderRadius(10px);

        gap :5px;
        padding:5px 10px;
        margin-bottom: 10px;
        border:5px solid #eee;

        button {
            @include borderRadius(0);
            @include flex-align(center, center);

            font-size:12px;
            color: #fff;
            padding: 5px 20px;
            margin-left:auto;
            border:1px solid #313a2f;
            background-color: #313a2f;
        }
    }
}

//autocomplete
.v-autocomplete {
    width:300px;

    .v-autocomplete-input {width:100%}
}

.v-autocomplete-list {
    @include size(100%, auto);

    z-index: 999;
    max-height: 250px;
    text-align: left;
    border:1px solid #bfbfbf;
    background: #fff;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 5px 5px rgba(0,0,0,0.1);
    overflow-y: auto;

    .v-autocomplete-list-item {
        padding:7px 10px;
        border-bottom:1px dashed #bfbfbf;

        &:last-child {border:0;}
        > div {
            background: transparent !important;

            > span {
                display: block;
                background: transparent !important;
            }   
        }
    }
    .v-autocomplete-item-active{
        color: #000;
        background: #e9f5e6 !important;
    }
}
//다국어관리
.language_box {
    @include size(50%,calc(100% - 80px));

    margin-top: 10px;;


    &.language_box02 {width:60%}
    &.language_box03 {
        width:40%;

        .table{
            margin-top:58px;
            overflow: inherit;
        }
    }
    &.language_box04 {
        position: relative;
        height: calc(100% - 10px);

        .pa-01 {@include position(absolute,0,auto,auto,0,9)}
        .pa-02 {
            @include position(absolute,50px,auto,auto,0,9);

            width:100%;
        }
        .pa-03 {
            @include position(absolute,95px,auto,auto,0,9);

            width:100%;
            max-height: calc(100% - 135px) !important;
        }
        .pa-04 {
            @include position(absolute,calc(100% - 35px),auto,auto,0,9);

            width:100%;
        }

        .tabel_650 {
            height:100%;

            table{height: auto;}
        }
    }

    .language_box_title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom:5px;
    }
    .language_box_search,
    .language_box_search_02{
        @include flex-align(flex-start, center);

        flex-flow:row nowrap;
        gap:10px;
        margin: 5px 0 5px;

        > input{
            @include size(200px, 30px);

            margin:0;
            padding:0;
        }

        > button:last-child{margin-left:auto;}
    }
    .language_box_search_02 {
        justify-content: flex-end;

        > button:last-child{margin-left:0;}
    }
    .table{
        max-height: 600px;
        overflow: auto;
    }
}